.wrapper {
	justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.quote__wrapper {
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 5%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 24px;
}

.quoteContainer {
	text-align: justify;
}

.getNewQuote {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  float: right;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.getNewQuote:hover {
	opacity: .8;
	transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.authorContainer {
	text-align: right;
	margin: 30px 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
  color: #fff;
}

.social-buttons {
	display: flex;
}

.social-buttons__item {
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
  line-height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.fa {
	color: #fff;
}

.social-buttons__item:hover {
	opacity: .8;
	transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
